NEXT_PUBLIC_APP_NAME=codebase
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://api.backend.localhost/api
NEXT_PUBLIC_AUTH_URL=http://api.backend.localhost/api/v1/auth
NEXT_PUBLIC_API_URL=http://api.backend.localhost
NEXT_PUBLIC_REVERB_APP_KEY=codebase-key
NEXT_PUBLIC_REVERB_HOST=127.0.0.1
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http
NEXT_PUBLIC_REALTIME_DRIVER=echo
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_APP_LANG=en
PORT=3000
SECRET=123456
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=123456
I18NEXT_DEFAULT_CONFIG_PATH="./next-i18next.config.js"
