# Next.js
/.next/
/out/
/build

*.tsbuildinfo
sw*
workbox*
next-env.d.ts

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Misc
.DS_Store
*.pem

# Environment
.env
.env.*
!.env.example

# Server
.vercel
